<%= stylesheet_link_tag "about_us", :media => "all" %>

<div class="row">
  <div id="sidebar" class="span3">
    <%= render :partial => 'sidemenu', :locals => {:active => "guidelines"} %>
  </div>
  <div id="contents" class="span9">
    <div class="hints">

    <h3>記事投稿ガイドライン</h3>

    <h4>●記事の内容について</h4>
ライターは記事を投稿する際に、以下に定める事項を守ることとします。<br/>
<br/>
（1）投稿する記事について、次の①～⑨のINDEXタグの中から各ジャンルそれぞれ1つ適切なものを選びタグ付けすること。（記事投稿画面で選択）<br/>
<br/>
&nbsp;①記事のテーマ別<br/>
&nbsp;&nbsp;・人生を変えた話<br/>
&nbsp;&nbsp;&nbsp;...旅の中での人との出会いや、事件との遭遇、自然との対峙などにより今後の自分の人生の歩き方に大きく影響を与えた出来事に関する話。その他に、「差別を受けた話」「自分探しの話」「価値観の変化の話」などもここに含まれる。<br/>
&nbsp;&nbsp;・心温まる話<br/>
&nbsp;&nbsp;&nbsp;...旅の中での現地の人や、偶然居合わせた各国の旅行者、もしくは遠い異国で出会った同じ日本人との出会いなどにより、大きく感情に影響を与えた出来事に関する話。その他に、「うれしかった話」「楽しかった話」「泣ける話」「深イイ話」「感動する話」などもここに含まれる。<br/>
&nbsp;&nbsp;・初体験の話<br/>
&nbsp;&nbsp;&nbsp;...旅の中で、それまでに経験したことのない出来事、はじめて体験した出来事などによって、思索をめぐらせたことに関する話。その他に、「カルチャーショックだった話」「ビックリした話」「未知との遭遇をした話」「地域のローカルルールの話」などもここに含まれる。<br/>
&nbsp;&nbsp;・危ない話<br/>
&nbsp;&nbsp;&nbsp;...旅の中で、身の危険や生命の危機に陥った出来事に関する話。その他に「アンダーグラウンドな話」「今だから言えるごめんなさいな話」「ケンカした話」「危険度MAXな話」などもここに含まれる。<br/>
&nbsp;&nbsp;・すべらない話<br/>
&nbsp;&nbsp;&nbsp;...旅の中で見た、聞いた、感じた、体験したなどの出来事で、帰国後に笑い話となっている出来事に関する話。その他に「旅で出会った変な人の話」「ヘンテコな海外の風習の話」などもここに含まれる。<br/>
    <br/>
&nbsp;②国名別（どこの国での話か）<br/>
&nbsp;&nbsp;・該当する国名<br/>
    <br/>
&nbsp;③移動手段別（どれを利用している時の話か）<br/>
&nbsp;&nbsp;・徒歩<br/>
&nbsp;&nbsp;・自転車<br/>
&nbsp;&nbsp;・路線バス<br/>
&nbsp;&nbsp;・乗合バス<br/>
&nbsp;&nbsp;・タクシー<br/>
&nbsp;&nbsp;・レンタカー&nbsp;&nbsp;・レンタルバイク<br/>
&nbsp;&nbsp;・鉄道<br/>
&nbsp;&nbsp;・飛行機<br/>
&nbsp;&nbsp;・ボート<br/>
&nbsp;&nbsp;・船<br/>
&nbsp;&nbsp;・動物（ラクダ、ゾウなど）<br/>
&nbsp;&nbsp;・ご当地乗り物（リキシャ、トゥクトゥクなど）<br/>
&nbsp;&nbsp;・その他<br/>
    <br/>
&nbsp;④人数別（何人で旅をした時の話か）<br/>
&nbsp;&nbsp;・一人旅（男）<br/>
&nbsp;&nbsp;・一人旅（女）<br/>
&nbsp;&nbsp;・二人旅（男×男）<br/>
&nbsp;&nbsp;・二人旅（女×女）<br/>
&nbsp;&nbsp;・二人旅（男×女）（カップル、夫婦以外）<br/>
&nbsp;&nbsp;・カップル、夫婦<br/>
&nbsp;&nbsp;・グループ旅行（数名）<br/>
&nbsp;&nbsp;・団体旅行（数十名）<br/>
&nbsp;&nbsp;・その他<br/>
    <br/>
&nbsp;⑤目的別（どんな目的の旅をした時の話か）<br/>
&nbsp;&nbsp;・観光<br/>
&nbsp;&nbsp;・放浪、世界一周<br/>
&nbsp;&nbsp;・ボランティア<br/>
&nbsp;&nbsp;・ワーキングホリデー<br/>
&nbsp;&nbsp;・留学<br/>
&nbsp;&nbsp;・転勤<br/>
&nbsp;&nbsp;・永住、移住<br/>
&nbsp;&nbsp;・ピースボート<br/>
&nbsp;&nbsp;・その他<br/>
    <br/>
⑥予算別（どの程度の予算で旅をした時の話か）<br/>
&nbsp;&nbsp;・貧乏旅行（バックパッカー、安宿）<br/>
&nbsp;&nbsp;・普通旅行（国内旅行と同じ感覚）<br/>
&nbsp;&nbsp;・豪華旅行（高級ホテル、リゾートなど）<br/>
&nbsp;&nbsp;・その他<br/>
    <br/>
&nbsp;⑦語学力別（どの程度外国語を話せる状態で旅をした時の話か...「○＝問題なく会話が通じるレベル」「△＝カタコトで意志が伝わるレベル」「×＝全く話せないレベル」）<br/>
&nbsp;&nbsp;・英語×、現地語×<br/>
&nbsp;&nbsp;・英語×、現地語△<br/>
&nbsp;&nbsp;・英語×、現地語○<br/>
&nbsp;&nbsp;・英語△、現地語×<br/>
&nbsp;&nbsp;・英語△、現地語△<br/>
&nbsp;&nbsp;・英語△、現地語○<br/>
&nbsp;&nbsp;・英語○、現地語×<br/>
&nbsp;&nbsp;・英語○、現地語△<br/>
&nbsp;&nbsp;・英語○、現地語○<br/>
&nbsp;&nbsp;・その他...<br/>
    <br/>
&nbsp;⑧年齢別（何歳の時に旅をした時の話か）<br/>
&nbsp;&nbsp;・～19歳<br/>
&nbsp;&nbsp;・20～24歳<br/>
&nbsp;&nbsp;・25～29歳<br/>
&nbsp;&nbsp;・30～34歳<br/>
&nbsp;&nbsp;・35～39歳<br/>
&nbsp;&nbsp;・40代<br/>
&nbsp;&nbsp;・50代<br/>
&nbsp;&nbsp;・60代以上<br/>
    <br/>
    <br/>
    <h4>●記事の文書の構成について</h4>
（1）テーマに関係する<br/>
タイトル写真を1枚使う1つの投稿記事について、本文に書く内容を最もよく表すと思う写真を1枚アップロードして記事の上部に掲載します。写真1枚から思い起こされる風景や出来事を、文章によって表現しましょう。また、各パラグラフごとに内容を補足するような写真を1パラグラフにつき1枚使うことが可能です。<br/>
    <br/>
（2）小見出しをつける<br/>
投稿フォームに沿って、各パラグラフに小見出しをつけて、それに沿った内容の本文を800字～1500文字程度を目安にしてまとめる。1つのパラグラフが冗長にならないように気をつけて、読者が読みやすいように、適宜小見出しをつけて複数のパラグラフで文章を構成すると、多くの人に見てもらえる読みやすい記事になります。<br/>
    <br/>
（3）5分で読み終わる程度の分量を心がける<br/>
だらだらと起こった出来事を淡々と書くのではなく、起こった出来事やそれに対してライター自身がどう思ったのか、どう考えたのかという思考や感情を中心に、文章を普段読まない人でも手にとって読める程度の長さの文章にまとめることで、多くの人に見てもらえる読みやすい記事になります。<br/>
    <br/>
    <br/>
    <h4>●禁止事項</h4>
ライター又は利用者は、以下に定める行為又は以下に定める内容・表現もしくはその恐れのある内容・表現を含む書き込みや投稿（以下「投稿等」と総称します）を行ってはならないものとします。ライター又は利用者が、禁止事項に違反したと弊社が判断した場合には、投稿等した内容の削除、本サービスの全部又は一部の利用停止、ライター登録抹消処分、その他弊社が適切と判断する措置をとることができるものとします。<br/>
    <br/>
(1)良識に欠けるものや、品位に欠けるもの<br/>
①殺害・虐待・自殺・自殺行為を肯定・勧誘あるいは助長する又はその恐れのある内容（殺害・自殺の方法などを送信等する行為を含む）の送信等<br/>
②過度に残虐又は暴力的な内容・動画・画像（イラストや絵画等も含む）の送信等<br/>
③社会通念上、不適切と解釈され、又はその恐れのある表現・内容の送信等<br/>
④アダルト画像、動画を含む内容（イラストや絵画等も含む）の送信等<br/>
⑤著しく性欲を興奮させたり、刺激したりする内容・動画・画像（イラストや絵画等も含む）の送信等<br/>
⑥アダルトサイト、出会い系サイト関連の表現・内容の送信等又はこれらのサイト等へのリンク<br/>
⑦性に関する表現で、わいせつな行為、対象を連想させるもの、その他卑猥な表現・内容の送信等<br/>
⑧健全な社会通念に反し、品性を損なうような行為、表現・内容の送信等<br/>
⑨その他、一般的に他のライターや利用者が不快に感じる、又はその恐れのある表現・内容の送信等<br/>
    <br/>
(2)他のライターや利用者、その他第三者を中傷したり、名誉を傷つけたりするもの、権利を侵害するもの<br/>
①他のライターや利用者、その他第三者について、誹謗中傷もしくは侮辱する、又は名誉や信用を傷つける行為、表現・内容の送信等<br/>
②人種、民族、性別、信条、社会的身分、居住地、身体的特徴、病歴、教育、財産等による差別につながる表現・内容の送信等<br/>
③本人の承諾のない個人情報（但し、一般に公開されている著名人などの情報は除く）の送信等<br/>
④第三者の商標権、著作権、著作者人格権等の知的財産権、肖像権及びパブリシティ権等の権利を侵害する、又はその恐れのある行為、表現・内容の送信等<br/>
⑤第三者の財産、プライバシー等個人の権利を侵害する、又はその恐れのある行為、表現・内容の送信等<br/>
    <br/>
(3)社会倫理や法令に反するもの<br/>
①違法薬物、火器・けん銃など違法武器、爆発物の製造、売買春、児童ポルノの提供、公文書偽造、殺人、傷害、詐欺、窃盗等の犯罪その他の法令違反行為を推奨・肯定・勧誘もしくは助長する又はその恐れのある行為、表現・内容の送信等<br/>
②犯罪その他の法令違反行為を推奨、肯定、もしくは助長する等、社会的に有害であるもの、又はその恐れのある行為、表現・内容の送信等<br/>
③出会いを希望もしくは誘導することを目的とするもの、又はその恐れのある行為、表現・内容の送信等<br/>
・異性との交際又は性交渉を目的として本サービスを利用する行為<br/>
・直接会うことを目的とした内容の送信等、又は他の会員に対し、そのような行為をするよう誘う行為<br/>
・他のライターに対し、個人情報（フルネーム、電話番号、メールアドレス、住所、本人の顔写真等）を聞き出す行為<br/>
④相手に恐怖心を生じさせる目的で危害を加えることを通告する脅迫行為やストーカー行為<br/>
⑤選挙の事前運動、選挙運動又はこれらに類似する行為、及び公職選挙法に抵触する行為<br/>
⑥その他、法令もしくは公序良俗に違反するもの、又はその恐れのある行為、表現・内容の送信等<br/>
    <br/>
(4)弊社の承諾のない商業行為<br/>
①無限連鎖講（ねずみ講）、リードメール、ネットワークビジネス関連（MLM、マネーゲーム等を含む）の勧誘等の情報、及びこれらに類する情報の送信等<br/>
②商業用の広告、宣伝を目的とした投稿記事の作成（但し、弊社が認めている範囲のもの及び弊社タイアップ等は除く）<br/>
③弊社が許可したものを除き、営利、非営利目的を問わず、物やサービスの売買、交換（それらの宣伝、告知、勧誘を含む）を目的とする情報の送信等（物品を販売し、又は契約を締結させることを目的とする無料セミナーの情報の送信等を含む）<br/>
④本サービスの一部の利用権を、弊社が定めた以外の方法で譲渡する行為<br/>
⑤本サービスの全部又は一部の利用権をもって、現金その他の財物、財産上の利益との交換取引をすること、もしくは交換取引をすることの宣伝・告知・勧誘する行為<br/>
    <br/>
(5)その他<br/>
①個人、法人問わず、自ら又は組織等を偽る行為<br/>
②宗教団体もしくはそれと同視し得る団体への勧誘、布教、寄付等を求める、又はその恐れのある行為<br/>
③その他、弊社が不適切と判断する行為<br/>
<br/>
<br/>
    <h4>●本ガイドラインの改訂について</h4>
(1)弊社は、随時本ガイドラインを改訂することができるものとします。<br/>
(2)弊社は、本ガイドラインを改訂しようとする場合、電子メール又は本サイト等を使い随時、ライター及び利用者に告知するものとします。<br/>
(3)前項に基づき、本ガイドライン改訂を告知した日から弊社が定める期間を経過した後も継続して本サービスを利用された場合、当該ライター及び利用者は本ガイドラインの改訂に同意したものとみなされ、当該ライター及び利用者と弊社との間で改訂後のガイドラインの効力が発生するものとします。<br/>
(4)ライター及び利用者は、前項に定める効力発生の時点以降、当該内容の不知又は不承諾を申し立てることはできないものとします。<br/>
<br/>
<br/>
<p class="signature">平成２５年８月１日制定</p>
  </div>
  </div>
</div>
