<%= stylesheet_link_tag "about_us", :media => "all" %>
<div class="row">
  <div id="sidebar" class="span3">
    <%= render :partial => 'sidemenu', :locals => {:active => "index"} %>
  </div>
  <div id="contents" class="span9">
    <% @about_us.each do |about_us| %>
      <p><%= simple_format(about_us.content) %></p>
    <% end %>
  </div>
</div>
