<%= stylesheet_link_tag    "articles", :media => "all" %>
<!-- <h4>投稿一覧</h4> -->
<section class="contents">
  <div class="articles-container">
    <%= render :partial => 'shared/articles/list', :locals => {:articles => @articles, :admin_page => true} %>
  </div>
</section>

<!-- , :class => "pagination pagination-centered" -->
<%= paginate(@articles) %>
