<%= stylesheet_link_tag    "articles", :media => "all" %>

<div>
  <h3 id="post-history">投稿履歴</h3>
</div>

<!-- <h4>投稿一覧</h4> -->
<section class="contents">
  <div class="articles-container">
    <%= render :partial => 'shared/articles/list', :locals => {:articles => @articles, :admin_page => true} %>
  </div>
</section>

<!-- , :class => "pagination pagination-centered" -->
<%= paginate(@articles) %>
