<footer class="row-fluid">
  <div id="daily_photo" class="span3">
    <aside>
      <!-- <%= image_tag 'picture4.jpg', :size => '90x60', :class => "photo"  %> -->
      <%= image_tag @todays_photo["path"], :size => @todays_photo["size"], :class => "photo"  %>
    </aside>
    <footer>Today's Photos</footer>
  </div>
  <div class="span9">
    <div class="social">
      <!-- <div class="fb-like" data-href="http://tabi-repo.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div> -->
      <iframe src="//www.facebook.com/plugins/like.php?locale=ja_JP&href=http%3A%2F%2Ftabi-repo.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=494878583905202" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:21px;" allowTransparency="true"></iframe>
    </div>
    <div class="logo">
      <%= link_to image_tag('logo/jaywalk.jpg', :style=>'max-width:120px;max-height:90px;'), "http://jay-walk.com/", :target => "blank" %>
    </div>
  </div>
  <p class="copyright">&copy; 旅レポ 2013</p>
</footer>
