<footer class="row-fluid">
  <div id="daily_photo" class="span6">
    <aside>
      <%= image_tag 'picture4.jpg', :size => '90x60', :class => "photo"  %>
    </aside>
    <footer>Today's Photos</footer>
  </div>
  <div class="span6">
  <p class="copyright">&copy; 旅レポ 2013</p>
  <div class="logo">
    <%= link_to image_tag('logo/jaywalk.jpg', :size=>'120x90'), "http://jay-walk.com/", :target => "blank" %>
  </div>
  </div>
</footer>
