<footer class="row-fluid">
  <div id="daily_photo" class="span6">
    <aside>
      <!-- <%= image_tag 'picture4.jpg', :size => '90x60', :class => "photo"  %> -->
      <%= image_tag @todays_photo["path"], :size => @todays_photo["size"], :class => "photo"  %>
    </aside>
    <footer>Today's Photos</footer>
  </div>
  <div class="span6">
    <div class="social">
      <div class="fb-like" data-href="http://tabi-repo.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
    </div>
    <div class="logo">
      <%= link_to image_tag('logo/jaywalk.jpg', :style=>'max-width:120px;max-height:90px;'), "http://jay-walk.com/", :target => "blank" %>
    </div>
  </div>
  <p class="copyright">&copy; 旅レポ 2013</p>
</footer>
