<ul class="nav nav-tabs nav-stacked">
  <li class="active"><%= link_to 'アクセス数', report_path + "?" %></li>
  <li><%= link_to '記事別', report_path + "?" %></li>
  <li><%= link_to 'ライター別', report_path + "?" %></li>
</ul>
