// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.string-label {
  margin-top: 4px;
}

.contents {
  margin-left:auto;
  margin-right:auto;
}

.contents .article {
//  float: left;
  display: inline-block;  
  *display: inline;  
  *zoom: 1; 
  padding: 5px;
  max-width: 210px;
  // max-height: 200px;
}

.contents .article div {
  width: 210px;
  height: 160px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.contents .article header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contents .article footer {
  height: 40px;
  overflow: hidden;
}
