// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'icheck/square/grey.css';

.string-label {
  margin-top: 4px;
}

// todo 全体の記事は右寄りになってしまい、投稿履歴はちょうどよくなる。

// #contents {
//   margin-left: 0;
// }

.contents {
  margin-left:auto;
  margin-right:auto;
}

.contents div.link {
  text-align: right;
}

.contents div.articles-container {
  // padding-left: 45px;
  padding-left: 30px;
  // height: 222px;
}

.contents .article {
  display: inline-block;  
  *display: inline;  
  *zoom: 1; 
  // width: 220px;

  // width: 180px;
  width: 200px;
  // width: 220px;
  // margin: 0 10px 10px 0;
  // margin: 0 20px 20px 0;
  margin-right: 20px;
  margin-bottom: 20px;
  // height: 258px;
  // height: 222px;
  // height: 222px;
  height: 237px;
  color: #221919;
  font-weight: bold;
  vertical-align: top;
}

.contents .article header {
  padding: 1px 10px;
}

.contents .article h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // height: 33px;
  padding: 10px 10px;
  margin: 0;
}

.contents .article footer {
  height: 40px;
  overflow: hidden;
  color: #AD9C9C;
  background-color: #F2F0F0;
  padding: 0px 10px;
  margin: 0;
}

.contents .article div {
  // width: 200px;
  // width: 160px;
  // max-?
  width: 180px;
  height: 135px;
  padding: 0 10px;
  text-align: center;
}

.contents .article img {
  text-align: center;
  max-width: auto;
  max-height: auto;
}

.contents .article a {
  color: #444;
  text-decoration: none;
}

div.reading {
  padding-left: 20px;
  padding-right: 20px;
}

div.reading div.header {
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

div.reading div.footer {
  border-top: 2px solid;
}

// div.reading div.footer div {
//   float: right;
//   margin: 5px;
// }

div.reading div.footer div.toolbar {
  float: right;
  margin: 5px;
}

div.reading div.header h3, div.reading div.header h6 {
  line-height: 30px;
}

div.reading div.header h3 {
  padding-right: 10px;
}

div.reading div.outline h3 {
  color: #C73F63;
}

div.reading div.paragraph h4 {
  color: #E3A441;
}

div.image-container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 640px;
  height: 480px;
}

div.image-container.top {
  // padding: 30px;
  clear: both;
}

div.image-container.bottom {
  padding-top: 10px;
}

div.image-container.small {
  width: 480px;
  height: 360px;
}

div.wordbreak p, div.wordbreak h3, div.wordbreak h4 {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}

div.reading div.outline {
  // padding-top: 10px;
  padding-bottom: 10px;
}

div.reading p {
  // padding-left: 10px;
  // padding-right: 10px;
  font-size: 16px;
  padding-bottom: 10px;
}

div.reading div.paragraph h4 {
  border-bottom: 1px dashed;
}

div.file-image {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

article.article.photo {
  position: relative;
}

.article.photo:hover {
  -moz-box-shadow: 0 0 4px 2px #ED2D0B, 0 2px 8px 1px #999999;
  -webkit-box-shadow: 0 0 4px 2px #ED2D0B, 0 2px 8px 1px #999999;
  -o-box-shadow: 0 0 4px 2px #ED2D0B, 0 2px 8px 1px #999999;
  -ms-box-shadow: 0 0 4px 2px #ED2D0B, 0 2px 8px 1px #999999;
  box-shadow: 0 0 4px 2px #ED2D0B, 0 2px 8px 1px #999999;
}

article.article.photo img.ribbon {
  position: absolute;
  top: -5px; 
  // max-width: 20px;
  max-height: 43px;
}

article.article.photo img.ribbon.new {
  left: 140px;
}

article.article.photo img.ribbon.hot {
  left: 160px;
}

article.article.photo img.ribbon.recommendation {
  left: 180px;
}

article.article.photo div.history {
  position: absolute;
  width: 180px;
  height: 237px;
  line-height: 237px;
  top: 0;
  left: 0;
}

article.article.photo div.history.disapproval {
  opacity:0.8;
  filter: alpha(opacity=80);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=80)";  /* ie 8 */
  -moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.8;              /* Safari 1.x */
  font-size: 20px;
}

article.article.photo.applied {
  opacity:0.1;
  filter: alpha(opacity=10);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=10)";  /* ie 8 */
  -moz-opacity:0.1;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.1;              /* Safari 1.x */
}

// article.article.photo.applied > .applied {
//   opacity: 1;
//   filter: alpha(opacity=100);        /* ie lt 8 */
//   -ms-filter: "alpha(opacity=100)";  /* ie 8 */
//   -moz-opacity:1;                 /* FF lt 1.5, Netscape */
//   -khtml-opacity: 1;              /* Safari 1.x */
//   color: red;
//   font-size: 20px;
// }

div.header div.ribbon img {
  max-height: 100px;
}

div.search-area.horizontal label {
  display: inline-block;
}

div.writer-container {
  margin: 25px;
}

div.writer-container-box {
  margin: 50px 0;
  border: 2px dashed #ccc;
}

img.info {
  cursor: pointer;
}

/**************************************************
              PAGE TOP
***************************************************/
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 77%;
  z-index: 1;
}
#page-top a {
  // background: #666;
  background: #2e2e2e;
  text-decoration: none;
  color: #fff;
  width: 80px;
  padding: 20px 0;
  text-align: center;
  display: block;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#page-top a:hover {
  text-decoration: none;
  // background: #999;
  background: #3e3e3e;
}

/**************************************************
              jquery icheck
***************************************************/
label.icheck-me-inline {
  position: relative;
  top: -20px;
  left: 30px;
}
