// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.chart {
  width: 700px;
  height: 400px;
}

h3.page-title {
  margin-left: 10px;
  margin-bottom: 20px;
}
