// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************************************
           SPECIFIC
***************************************************/
/*#worldmap > img {
  width: 720px;
}*/

 /*
.readmore{
  font-weight:bold;
  font-size:15px;
  font-family:Georgia, "Times New Roman", Times, serif;
  color:#333333;
}

.readmore a {
   color:#333333;
}

.holder_news {
  width:274px;
  float:left;
  border-bottom:1px dotted black;
  margin-bottom:10px;
  padding-bottom:12px;
}   
*/

@import "articles.css";

.contents div.link {
  text-align: right;
}

div.holder_content {
  position: relative;
}

img.heartful {
  position: absolute;
  // top: 55px;
  // left: 240px;
  top: 105px;
  left: 365px;
}

img.turningpoint {
  position: absolute;
  // top: 60px;
  // left: 40px;
  top: 100px;
  left: 90px;
}

img.dangerous {
  position: absolute;
  // top: 180px;
  // left: 175px;
  top: 285px;
  left: 245px;
}


img.firsttime {
  position: absolute;
  // top: 70px;
  // left: 440px;
  top: 120px;
  left: 635px;
}

img.funny {
  position: absolute;
  // top: 175px;
  // left: 370px;
  top: 265px;
  left: 515px;
}

