<pre>
こんにちわ！<%= @resource.email %>様!

いつも旅レポをご利用いただきありがとうございます。
不正ログインを検知したためアカウントがロックされております。

アカウントのロックを解除するには以下のURLにアクセスして下さい。

</pre>
<%= link_to 'ロック解除', unlock_url(@resource, :unlock_token => @resource.unlock_token) %>
<pre>

ご不明点やご意見がございます場合は、 contact.tabirepo@gmail.com よりお問い合わせください。

今後とも旅レポをよろしくお願いいたします。

旅レポ チーム一同

--------------------
本メールは自動送信メールです。返信をしないようお願いいたします。
お心当たりがない場合は、そのまま削除してください。
--------------------
旅レポは、あなたの旅の体験を世界に発信するお手伝いをします。

＜旅のワクワクを世界中へ発信するポータルサイト＞
tabirepo -旅レポ-
</pre>
<a href="http://tabi-repo.net/">http://tabi-repo.net/</a>
